.collapsed-height {
    height: 86px !important;
    right: 20px !important;
    display: block !important;
}

.expanded-height {
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;
    max-height: calc(100vh-30px);
    right: 0 !important;
    transition: height 1s;
}

iframe.fixed-height {
    height: 450px !important;
}

@media (max-width: 767px) {
    .chat-window-active {
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: fixed
    }
}

@media (min-width: 768px) {
    .expanded-height {
        max-width: 376px !important;
        height: 82% !important;
        right: 10px !important;
        border-radius: 7px 7px 0 0;
    }
}

@media (min-width: 992px) {
    .expanded-height {
        right: 10px !important;
        border-radius: 7px 7px 0 0;
    }
}