.w100p{
  width: 100%;
}
.w60p{
  width: 60% !important;
  display: inline-block;
}

.h50{
  height: 50px;
}

.mt13{
  margin-top: 13px !important;
}

.buscador-header{
  background-color: #F4F4F6;
  padding: 40px;
  padding-top: 20px;
}

#form_propiedades{
  background-color: #3E3E3E;
  height: 70px;
}

#form_propiedades button{
  height: 50px;
  padding: 0 35px;
  border-radius: 5px;
  position: relative;
}

.form-control{
  background-color: white;
  border: none;
  border-radius: 0px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 32px !important;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #A4A4A4;
}
.label_buscador{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #A4A4A4;
}

 #form-propiedades .col-md-3{
  padding-top: 10px;
  padding-bottom: 10px;
 }

.rowcontainer{
  bottom: 22px;
}

.property-bottom{
  padding: 20px;
}

.btns-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-secoundry {
  background-color: #c62529 !important;
  border-color: #c62529 !important;
  color: white !important;
  height: 48px;
  padding-top: 12px;
  border-radius: 5px;
  width: 200px;
}
.btn-secoundry:hover, .btn-secoundry:focus {
  background-color: #c62529;
  border-color: #c62529;
  color: #fff;
}

.icon-box {
  display: inline-block;
  width: 50px;
  height: 48px;
  border: 3px solid #a2a2a3;
  border-radius: 8px;
  background: url("../images/socials-icon.png") no-repeat 10px 12px #a2a2a3;
  background-size: 25px auto;
}
.icon-box:hover {
  background-color: transparent;
  background-position: 10px -48px;
}

.whatsapp-box {
  background-color: #49af6a;
  background-position: 10px -108px;
  border-color: #49af6a;
}
.whatsapp-box:hover {
  background-position: 10px -170px;
}