@font-face {font-family: 'Lato-Light';src: url('../fonts/Lato-Light.ttf');}
@font-face {font-family: 'Lato-Black';src: url('../fonts/Lato-Black.ttf');}
/*@font-face {font-family: 'Lato-Bold';src: url('../fonts/Lato-Bold.ttf');}*/
@font-face {font-family: 'Lato-Regular';src: url('../fonts/Lato-Regular.ttf');}

html {scroll-behavior: smooth;}

hr.divider {border-top: 5px solid #4293d4;width: 50px;margin: 1rem auto;}

.container { max-width: 100% !important; }
.form-control { padding: 1vh; font-size: 2.5vh; }
.banner-contacto{position: relative;background-image: url('../img/web-imgjpg.jpg');background-repeat: no-repeat;background-size: cover;height: 100vh;padding-top: 10vh;width: 100%;}
.banner-contacto h1{color: #ffff;text-transform: uppercase;text-align: center;font-weight: bold;font-size: 14vh;}
.banner-contacto h4{color: #ffff;text-transform: uppercase;text-align: center;font-weight:500;font-size: 6vh;}
.banner-contacto p{color: #ffff;text-align: center;font-style: italic;font-size: 5vh;font-weight: 100;}
.banner-contacto .mouse-icon{border: 1px solid white;border-radius: 15px;height: 45px;left: 0;margin: auto;position: absolute;right: 0;width: 30px;z-index: 99;top: 80%;}
.banner-contacto .mouse-icon .mouse-wheel{position: absolute;width: 1px;height: 15px;border: 1px solid #ffffff;border-radius: 10px;top: 6px;left: 13px;}

.form-contacto{width: 100%;background-color: #2d2d2d;padding: 5vh;}
.form-contacto h4{color: #fff;text-transform: uppercase;text-align: center;font-size: 5vh;}
.form-contacto p{font-size: 4vh;color: #fff;text-align: center;}

.sobre-nosotros{background-color: #ffff;width: 100%;}
.sobre-nosotros-titulo h4{color: #2d2d2d;text-transform: uppercase;text-align: center;font-size: 26px;font-weight: 700;}
.sobre-nosotros-titulo p{font-size: 20px;color: #2d2d2d;text-align: center;font-style: italic;}

.carta img{width: 100%;object-fit: cover;aspect-ratio: 16 / 9;}
.carta-img-cont {position: relative;}
.carta-img-cont:hover:after{cursor: pointer;content: " ";position: absolute;top: 0;right: 0;left: 0;bottom: 0;background-image: url('../img/icono-suma.png');background-size: 50px;background-position: center;background-color: #4193d4;background-repeat: no-repeat;opacity: 0.7;z-index: 10;}
.carta h4{color: #2d2d2d;text-transform: uppercase;padding-top: 1rem;}
.carta p{color: #2d2d2d;padding-top: 1rem;}
.cartas img{height: 350px;width: 100%;object-fit: cover;}

.slider-section{background-color: #ededed;padding: 3rem;}
.carta-slider{background-color: #ffff;height: 250px;padding-top: 1rem;}
.carta-fondo{position: relative;width: 160px;height: 160px;border-radius: 50%;background-color: rgb(65, 147, 212);margin: 0 auto;}
.carta-fondo img{object-fit: none;width: 100%;height: 160px;}
.carta-fondo p{text-transform: uppercase;text-align: center;font-family: 'Lato-Regular';font-weight: bold;margin-top: 20px;}
.carta-fondo h4{margin-top: 20px !important;text-transform: uppercase !important;color: #2d2d2d !important;}
.carta-slider h4{text-transform: uppercase;color: #2d2d2d;text-align: center;padding: 1rem;}
.carta-slider:hover{background-color: #4193d4;cursor: pointer;color: #fff;}
.carta-slider:hover .carta-fondo {background-color: #fff;}

.ubicacion{background-color: #ffff;padding: 3rem;}
.ubicacion h4{font-size: 26px;text-align: center;color: #2d2d2d;text-transform: uppercase;font-weight: bold;}
.ubicacion p{text-align: center;font-size: 18px;}

.lanzamiento{background-color: #4293d4;padding: 1rem;}
.lanzamiento h1{color: #ffff;text-transform: uppercase;text-align: center;font-size: 80px;line-height: 70px;}
#lanzamiento{-webkit-text-stroke:1px #ffff;-webkit-text-fill-color:transparent;}
.lanzamiento p{color: #ffff;text-align: center;font-size: 30px;margin-bottom: 20px;}
.boton-lanzamiento{display: inline-block; border: 2px solid #ffff;background-color: transparent;color: #ffff;padding: 0.5rem 11rem;cursor: pointer;text-transform: uppercase;}
.boton-lanzamiento:hover{background-color: #ffff;color: #4293d4;text-transform: uppercase;text-decoration: none;}

footer{background-color: #262628;padding: 1rem;}
footer p{color: #b6b6b6;}
.footer-info{display: flex;align-items: center;justify-content: center}

.boton-consulta{background-color: rgb(86, 208, 98);border-color: rgb(86, 208, 98);font-family: 'Lato-Light';}
.boton-consulta:hover{background-color: #32bd3d;border-color: #32bd3d;}
.boton-consulta:focus{background-color: rgb(86, 208, 98) !important;border-color: rgb(86, 208, 98) !important;}
.boton-consulta .wsp-icon{padding-right: 10px;}

#map_canvas{height: 100%;}

@media (max-width: 768px){
  #map_canvas{height: 300px;margin-bottom: 20px;}

  #lanzamiento{font-size: 40px;}

  .banner-contacto{height: auto;padding: 5rem;}
  .banner-contacto h1{padding-top: 1rem;font-size: 24px;}
  .banner-contacto h4{font-size: 22px;}
  .banner-contacto p{font-size: 16px;}

  .form-contacto h4{font-size: 20px;}
  .form-contacto p{font-size: 18px;}

  .lanzamiento h1{font-size: 50px;line-height: 40px;}
  .lanzamiento p{font-size: 18px; margin-bottom: 5px;}
  .boton-lanzamiento{padding: 0.5rem 1rem;}
}